.favorite_links_options{
    opacity: 1;
    display: none;
}

.favorite_links_options_saving{
    color: #00a0d2;
    display: inline-block;
    padding: 0.3em;
    cursor: pointer;
}

#favoriteLinksModalWindowList{
    max-width: 400px;
}

.umlibrary-list-item{
    border: 1px solid #ddd;
}

.umlibrary-favorite-links-saved-file-item{
    padding: 0.3em;
    cursor: pointer;
}

.umlibrary-favorite-links-filter-tag{
    padding: 0.3em;
    cursor: pointer;
}

.umlibrary-favorite-links-dropdown-group {
    position: relative;
    display: inline-block;
}

.umlibrary-favorite-links-dropdown-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.umlibrary-favorite-links-dropdown-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 99999999999;
}

.umlibrary-favorite-links-dropdown-element {
    display: flex;
    flex-direction: row;
}

.umlibrary-favorite-links-dropdown-element a {
    color: black;
    padding: 6px 7px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.umlibrarysurvey-favorite-links-google-drive-ico{
    width: 100%;
    height: auto;
}

.umlibrary-favorite-links-dropdown-element i {
    padding: 6px 7px;
}

.umlibrary-favorite-links-dropdown-element:hover {
    background-color: #f1f1f1
}

.umlibrary-favorite-links-dropdown-group:hover .umlibrary-favorite-links-dropdown-options {
    display: block;
}

.umlibrary-favorite-links-saved-file-item:hover,
.umlibrary-favorite-links-saved-file-item:focus {
    color: #00a0d2;
    text-decoration: none;
    cursor: pointer;
}

.umlibrary-favorite-links-anchor{
    text-decoration: none !important;
    cursor: pointer;
}

.umlibrary-favorite-links-action-completed {
    color: #00a0d2;
    display: inline-block;
    text-decoration: none;
    padding: 0.3em;
    pointer-events: none;
    cursor: default;
}

.umlibrary-favorite-button{
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 24px;
    margin-right: 10px;
    margin-top: -35px;
}

.favorite-links-modal-header-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#umlibrary_favorite_links_button{
    cursor: pointer;
}

#favoritesListInput{
    display: none;
}

favorite-links-options-menu
.umlibrarysurvey-favorites-actions{
    cursor: pointer;
}

#favorite-links-modal-window {
    display: none;
    position: fixed;
    z-index: 99999999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#favorite-links-modal-window-content {
    background-color: #ffffff;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 80%;
    display: block;
}

.favorite-links-modal-window-close-button {
    color: #aaaaaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

#favoriteLinksSearchBar {
    font-size: 16px;
    padding: 12px 80px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    box-sizing : border-box;
}

#quick-links-modal-window-left-div {
    display: inline-block;
    width: 30%;
}

#quick-links-modal-window-right-div {
    display: inline-block;
    width: 70%;}


/*----------------------------------------------------------------------------*/
/* mega menu list */
.fl-nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}

/* a top level navigation item in the mega menu */
.fl-nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* first descendant link within a top level navigation item */
.fl-nav-item > a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0 -1px 0;
    border: 1px solid transparent;
}

/* focus/open states of first descendant link within a top level
   navigation item */
.fl-nav-item > a:focus,
.fl-nav-item > a.open {
    border: 1px solid #dedede;
}

/* open state of first descendant link within a top level
   navigation item */
.fl-nav-item > a.open {
    background-color: #fff;
    border-bottom: none;
    z-index: 1;
}

/* sub-navigation panel */
.fl-sub-nav {
    position: absolute;
    display: none;
    top: 2.6em;
    margin-top: -1px;
    padding: 0.5em 1em;
    border: 1px solid #dedede;
    background-color: #fff;
}

/* sub-navigation panel open state */
.fl-sub-nav.open {
    display: block;
}

/* list of items within sub-navigation panel */
.fl-sub-nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 0 0;
    padding: 0;
}

/* list item within sub-navigation panel */
.fl-sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Media Queries */



